#Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

#Virtual Environments
venv/
venv_ML/
env/
ENV/

#Data files 
data/processed/*.npy
data/raw/WESAD/
*.pkl

#Models 
models/*.pkl
models/*.h5

#Results 
results/*.png
results/*.jpg
results/*.txt
results/*.pdf

#IDE
.vscode/
.idea

#OS
.DS_Store
Thumbs.db

#Download files 
download_wesad.py
